@using Blazor.FullCalendar.Models
@using Blazor.FullCalendar.Components.Modals

@typeparam TCalendarEvent where TCalendarEvent : ICalendarEvent

<div class="event" @onclick="OnLeftClick" @onclick:stopPropagation="true" @oncontextmenu="OnRightClick" @oncontextmenu:preventDefault="true">
    <span>@CalendarEvent.Title</span>
</div>

@code {
    [Parameter]
    public TCalendarEvent CalendarEvent { get; set; } = default!;
    
    [Parameter]
    public EventCallback<TCalendarEvent> EventLeftClicked { get; set; }
    
    [Parameter]
    public EventCallback<TCalendarEvent> EventRightClicked { get; set; }

    private async Task OnLeftClick()
    {
        if (EventLeftClicked is { HasDelegate: true} eventLeftClicked)
        {
            await eventLeftClicked.InvokeAsync(CalendarEvent);
        }
    }

    private async Task OnRightClick()
    {
        if (EventRightClicked is { HasDelegate: true } eventRightClicked)
        {
            await eventRightClicked.InvokeAsync(CalendarEvent);
        }
    }
}