.event {
    background-color: rgb(3, 155, 229);
    border-radius: 4px;
    align-items: center;
}

.event > span {
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    font-weight: 500;
}

.event:hover {
    cursor: pointer;
}