@typeparam TCalendarEvent where TCalendarEvent : ICalendarEvent

<div>
    @foreach (var eventProperty in _calendarEventProperties)
    {
        <label for="@eventProperty.Name">@eventProperty.Name</label>
        <input id="@eventProperty.Name" name="@eventProperty.Name" type="text" />
    }

    <div>
        <button @onclick="Create" class="btn btn-primary">Create</button>
        <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
    </div>
</div>
