@using Microsoft.AspNetCore.Components.Forms;

@typeparam TCalendarEvent where TCalendarEvent : ICalendarEvent

@code
{
    [Parameter]
    public string? ButtonCloseText { get; set; } = "Close";

    [Parameter]
    public string? ButtonCancelText { get; set; } = "Cancel";
}

<EditForm Model="CalendarEvent">
    @for (var i = 0; i < _calendarEventProperties.Length; i++)
    {
        var property = _calendarEventProperties[i];
        @_createInputField(new CalendarEventProperty
        {
            Property = property,
            EventInstance = CalendarEvent,
            TabIndex = i
        })
    }
    <button @onclick="Close" class="btn btn-primary">@ButtonCloseText</button>
    <button @onclick="Cancel" class="btn btn-secondary">@ButtonCancelText</button>
</EditForm>
