@using Microsoft.AspNetCore.Components.Forms;

@typeparam TCalendarEvent where TCalendarEvent : ICalendarEvent

<EditForm Model="CalendarEvent">
    @for (var i = 0; i < _calendarEventProperties.Length; i++)
    {
        var property = _calendarEventProperties[i];
        @_createInputField(new CalendarEventProperty
        {
            Property = property,
            EventInstance = CalendarEvent,
            TabIndex = i
        })
    }
    <button @onclick="Create" class="btn btn-primary">Create</button>
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</EditForm>

