#root {
    --hairline: rgb(218, 220, 224);
    --background: #fff;
}

.container {
    background-color: var(--background);
    border: var(--hairline) 1px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row:not(:last-child) {    
    border-bottom: var(--hairline) 1px solid;
}

.header {
    width: 100px;
    flex: 1;
}

.header:not(:last-child) {
    border-right: var(--hairline) 1px solid;
}

.item {
    width: 100px;
    height: 100px;
    flex: 1;
}

.item:not(:last-child) {
    border-right: var(--hairline) 1px solid;
}