@using Blazor.FullCalendar.Services
@using Microsoft.AspNetCore.Components.Web

<div id="root" class="container" @onwheel="OnWheel">
    <h1>@_firstDayOfMonth.ToString("MMMM yyyy")</h1>
    <div class="row">
        @foreach (var day in _days)
        {
            <div class="header">@day</div>
        }
    </div>
    @for (var w = 0; w < AmountOfDisplayedWeeks; w++)
    {
        <div class="row">
            @for (var d = 0; d < AmountOfDisplayedDays; d++)
            {
                var day = CalculateDay(w, d);
                <div class="item">
                    <h2 class="@(_today.Day == day ? "today" : string.Empty)">@day</h2>
                </div>
            }
        </div>
    }
</div>
