#root {
    --hairline: rgb(218, 220, 224);
    --background: #fff;
    --primary: rgb(26,115,232)
}

.container {
    background-color: var(--background);
    border: var(--hairline) 1px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.row:not(:last-child) {    
    border-bottom: var(--hairline) 1px solid;
}

.header {
    width: 100px;
    flex: 1;
}

.header:not(:last-child) {
    border-right: var(--hairline) 1px solid;
}

.item {
    width: 100px;
    height: 100px;
    flex: 1;
}

.item:not(:last-child) {
    border-right: var(--hairline) 1px solid;
}

.item > h2 {
    font-size: 12px;
    display: inline-block;
    text-align: center;
    min-width: 24px;
    width: max-content;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
}

.today {
    color: white;
    background-color: var(--primary);
    border-radius: 50%;    
}